<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CreateSp</title>
    <meta charset="utf-8">
</head>
<body>
<div align="center">
    <form action="create" method="post"  >
        <table>
            <tr>
                <td>Emter Name</td>
                <td><input name="name" placeholder=""></td>
            </tr>
            <tr>
                <td>Enter Img</td>
                <td><input  name="img" placeholder=""></td>
            </tr>
            <tr>
                <td>EnterPrice</td>
                <td><input name="price" placeholder=""></td>
            </tr>

        </table>
        <button type="submit"  class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>
